/*Creamos variable*/
:root {
  --white: #FFF;
  --primary: #F59E0B;
}

/* Tamaño de html */
html {
  font-size: 62.5%;
}

/* Configuración del body */
body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-optical-sizing: auto;
  position: relative; /* Asegura que el ::before se posicione correctamente */
  background-image: url('/back.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  color: var(--white);
  font-size: 1.6rem;
  background-color: black;
}

